<%= @book.title %>
<h2>highest rating: <%= @book.highest_rating %></h2>

highest rating Review: <%= @book.highest_rating_review.body %><br>
highest rating User: <%= @book.highest_rating_review.user.name %>

<h2>lowest rating: <%= @book.lowest_rating %></h2>

lowest rating Review: <%= @book.lowest_rating_review.body %><br>
lowest rating User: <%= @book.lowest_rating_review.user.name %>

<h2>Book Average Rating: <%= @book.average_rating %></h2>

<h2>All Book Reviews:</h2>
<% @book.reviews.each do |review| %>
  <%= review.body %>
  <%= review.rating %>
  <%= review.user.name %>
<% end %>
